.spanBlock {
    padding: 0.2rem;

}

.span {
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #0080FF;
}

.input {
    padding-left: 24px;
}

.pen {
    padding: 0;
    margin: 0 auto;
}